@import '../variables';

.header {
  border-bottom: 1px solid #585858;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__animation {
    animation: header__animation 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #585858;
      min-width: 170px;
      font-weight: 700;
      font-size: 18px;
      line-height: 16px;
    }
  }
}

@keyframes header__animation {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
