.search {
  position: relative;
}

.field {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
  width: 300px;
  font-size: 16px;
}

.label {
  display: none;
}

.icon {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 22px;
  height: 22px;
}
