.search {
  position: relative;
}

.field {
  border: 1px solid #585858;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 40px;
  border-radius: 10px;
  width: 300px;
  font-size: 16px;
  background-color: transparent;
}

.label {
  display: none;
}

.icon {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #585858;
}

.clear {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 22px;
  height: 22px;
  opacity: 0.5;
}
